.hero {
  background: $accent-color url("../img/bg-main-1x.jpg");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-main-2x.jpg");
  }

  h2 {
    @include font-sizes(45px, 45px);
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  p {
    @include font-sizes(38px, 49px);
    margin: 0;
    font-style: italic;
  }

  &--catalog {
    background-image: url("../img/bg-catalog-1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-catalog-2x.jpg");
    }

    h2 {
      @include font-sizes(33px, 44px);
      margin-top: -2px;
      margin-bottom: 1px;
      letter-spacing: 0.6px;
    }

    p {
      @include font-sizes(22px, 29px);
    }

    .hero__wrapper {
      min-height: 261px;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 463px;
  padding: 30px 0;
  font-family: $secondary-font-family;
  color: $main-color-light;
  background-color: transparentize($bg-color-dark, 0.3);
}

@media (max-width: $max-tablet-width) {
  .hero {
    background-image: url("../img/bg-main-tabl-1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-main-tabl-2x.jpg");
    }
  }

  .hero__wrapper {
    padding-right: 18px;
  }

  .hero--catalog {
    .hero__wrapper {
      padding-left: 18px;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .hero {
    background-image: url("../img/bg-main-mob-1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-main-mob-2x.jpg");
    }

    h2 {
      @include font-sizes(38px, 38px);
    }

    p {
      @include font-sizes(34px, 44px);
    }
  }

  .hero--catalog {
    h2 {
      @include font-sizes(34px, 44px);
      padding-bottom: 2px;
      letter-spacing: 0.1px;
    }

    p {
      @include font-sizes(22px, 26px);
      padding-left: 37px;
      padding-right: 37px;
      text-align: center;
    }

    .hero__wrapper {
      padding-left: 0;
    }
  }

  .hero__wrapper {
    padding-right: 0;
  }
}
