.product {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: color $default-transition-settings,
    opacity $default-transition-settings;

  img {
    display: block;
    width: auto;
    min-width: 100%;
    max-height: 284px;
    height: 20.79vw;
    object-fit: cover;
    transition: transform $default-transition-settings;
  }

  p {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 16px;
    background-color: $main-color-light;
  }

  span {
    @include font-sizes(14px, 18px);
    margin-top: 6px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;

    img {
      transform: scale(1.07);
    }
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $max-tablet-width) {
  .product {
    img {
      max-height: none;
      height: 40.27vw;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .product {
    p {
      padding-top: 15px;
    }

    img {
      height: 42.5vw;
    }
  }
}
