mixin input(type, name, id, label, isLabeled, isDefault, isChecked=false, isRequired=false, placeholder="")
  input(class=`${isDefault ? "" : "visually-hidden"}`, type= type, name= name, id= id, checked= isChecked, required= isRequired, placeholder= placeholder)
  label(class=`${isLabeled ? "" : "visually-hidden"}`, for= id)= label
