.container {
  width: 85.58vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $max-tablet-width) {
  .container {
    width: 88.28vw;
  }
}

@media (max-width: $max-mobile-width) {
  .container {
    width: 90.63vw;
  }
}
