// Colors

$main-color-extra-dark:         #000000;
$main-color-light:              #ffffff;
$main-color-medium:             #9b9997;
$main-color-dark:               #1d1613;
$accent-color:                  #a87b62;
$bg-color-light:                #f0eae4;
$bg-color-dark:                 #564034;
$border-color:                  #f6f5f4;

// Typography
//---------------------------------

$main-font-family: "Poppins", "Arial", "sans-serif";
$secondary-font-family: "Cormorant Garamond", "Garamond", "serif";

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$min-mobile-width:                  320px;
$max-mobile-width:                  767px;
$min-tablet-width:                  768px;
$max-tablet-width:                  1023px;
$min-desktop-width:                 1024px;
$max-desktop-width:                 1366px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
