-
  var catalogProducts = [
    {
      path: "",
      image: "double-pearl-earrings-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Double pearl earrings",
      title: "Double pearl earrings",
      price: "$ 115",
    },
    {
      path: "",
      image: "black-choker-gold-bead-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Choker with gold bead",
      title: "Choker with gold bead",
      price: "$ 55",
    },
    {
      path: "",
      image: "gold-layered-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Gold layered necklace",
      title: "Gold layered necklace",
      price: "$ 155",
    },
    {
      path: "",
      image: "blue-gemstone-pendant-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Blue gemstone pendant",
      title: "Blue gemstone pendant",
      price: "$ 105",
    },
    {
      path: "",
      image: "boho-earrings-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Boho earrings",
      title: "Boho earrings",
      price: "$ 75",
    },
    {
      path: "",
      image: "bird-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Gold bird necklace",
      title: "Gold bird necklace",
      price: "$ 135",
    },
    {
      path: "",
      image: "black-leather-choker-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Black leather choker",
      title: "Black leather choker",
      price: "$ 85",
    },
    {
      path: "",
      image: "purple-gemstone-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Necklace with amethyst",
      title: "Necklace with amethyst",
      price: "$ 145",
    },
    {
      path: "",
      image: "elephant-earrings-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Elephant earrings",
      title: "Elephant earrings",
      price: "$ 95",
    },
    {
      path: "",
      image: "threader-necklace-closeup-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Threader necklace",
      title: "Threader necklace",
      price: "$ 115",
    },
    {
      path: "",
      image: "origami-crane-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Origami crane necklace",
      title: "Origami crane necklace",
      price: "$ 105",
    },
    {
      path: "",
      image: "marble-earrings-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Marble earrings",
      title: "Marble earrings",
      price: "$ 95",
    },
  ]
