-
  var questions = [
    {
      question: "What materials are the\u00A0ewellery made of?",
      answer: "Our jewellerry is made of solid gold, silver or leather.\u202FAlso, some jewellery contains precious and semiprecious stones and crystals.",
    },
    {
      question: "Which countries do\u00A0 deliver to?",
      answer: "Our jewellerry is made of solid gold, silver or leather.\u202FAlso, some jewellery contains precious and semiprecious stones and crystals.",
    },
    {
      question: "What are the payment methods?",
      answer: "Our jewellerry is made of solid gold, silver or leather.\u202FAlso, some jewellery contains precious and semiprecious stones and crystals.",
    },
    {
      question: "Can I return the jewellery if it didn’t fit me?",
      answer: "Our jewellerry is made of solid gold, silver or leather.\u202FAlso, some jewellery contains precious and semiprecious stones and crystals.",
    },
  ]

-
  var blogArticles = [
    {
      path: "",
      image: "blog-care",
      format: "jpg",
      width: "339",
      height: "300",
      alt: "How to care for jewellery",
      datetime: "2019-09-30",
      data: "September 30, 2019",
      title: "How to care for your jewellery",
      link: "#",
    },
    {
      path: "",
      image: "blog-power",
      format: "jpg",
      width: "339",
      height: "300",
      alt: "How to care for jewellery",
      datetime: "2019-09-23",
      data: "September 23, 2019",
      title: "Power of crystals",
      link: "#",
    },
    {
      path: "",
      image: "blog-trends",
      format: "jpg",
      width: "570",
      height: "630",
      alt: "How to care for jewellery",
      datetime: "2019-09-16",
      data: "September 16, 2019",
      title: "AW 19 trends",
      link: "#",
    },
  ]

-
  var newProducts = [
    {
      path: "",
      image: "purple-gemstone-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Necklace with amethyst",
      title: "Necklace with amethyst",
      price: "$ 145",
    },
    {
      path: "",
      image: "layered-choker-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Layered сhoker",
      title: "Layered сhoker",
      price: "$ 115",
    },
    {
      path: "",
      image: "dainty-gold-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Gold chain",
      title: "Gold chain",
      price: "$ 215",
    },
    {
      path: "",
      image: "galaxy-earrings-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Galaxy earrings",
      title: "Galaxy earrings",
      price: "$ 95",
    },
    {
      path: "",
      image: "double-pearl-earrings-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Double pearl earrings",
      title: "Double pearl earrings",
      price: "$ 115",
    },
    {
      path: "",
      image: "black-choker-gold-bead-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Choker with gold bead",
      title: "Choker with gold bead",
      price: "$ 55",
    },
    {
      path: "",
      image: "gold-layered-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Gold layered necklace",
      title: "Gold layered necklace",
      price: "$ 155",
    },
    {
      path: "",
      image: "blue-gemstone-pendant-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Blue gemstone pendant",
      title: "Blue gemstone pendant",
      price: "$ 105",
    },
    {
      path: "",
      image: "boho-earrings-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Boho earrings",
      title: "Boho earrings",
      price: "$ 75",
    },
    {
      path: "",
      image: "bird-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Gold bird necklace",
      title: "Gold bird necklace",
      price: "$ 135",
    },
    {
      path: "",
      image: "black-leather-choker-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Black leather choker",
      title: "Black leather choker",
      price: "$ 85",
    },
    {
      path: "",
      image: "elephant-earrings-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Elephant earrings",
      title: "Elephant earrings",
      price: "$ 95",
    },
  ]

-
  var galleryPhotos1 = [
    {
      path: "",
      image: "inst-2-desk",
      format: "jpg",
      width: "230",
      height: "230",
      alt: "Gold square earrings",
    },
    {
      path: "",
      image: "inst-1-desk",
      format: "jpg",
      width: "230",
      height: "154",
      alt: "Gold jewellery with crystals",
    },
    {
      path: "",
      image: "inst-3-desk",
      format: "jpg",
      width: "400",
      height: "414",
      alt: "Girl with drop-formed earrings",
    }
  ]

-
  var galleryPhotos2 = [
    {
      path: "",
      image: "inst-4-desk",
      format: "jpg",
      width: "232",
      height: "193",
      alt: "Gold jewellery on knitted sweater",
    },
    {
      path: "",
      image: "inst-5-desk",
      format: "jpg",
      width: "218",
      height: "191",
      alt: "Elegant gold jewellery and seashells",
    },
    {
      path: "",
      image: "inst-6-desk",
      format: "jpg",
      width: "218",
      height: "218",
      alt: "Spiral gold bracelets",
    },
    {
      path: "",
      image: "inst-7-desk",
      format: "jpg",
      width: "232",
      height: "166",
      alt: "Girl in shawl width golden rings",
    },
  ]

