-
  var productPhotos = [
    {
      path: "",
      image: "necklace-1-card-desk",
      format: "jpg",
      width: "100",
      height: "125",
      alt: "Gold necklace",
    },
    {
      path: "",
      image: "necklace-2-card-desk",
      format: "jpg",
      width: "100",
      height: "125",
      alt: "Gold necklace",
    },
    {
      path: "",
      image: "necklace-3-card-desk",
      format: "jpg",
      width: "100",
      height: "125",
      alt: "Gold necklace",
    },
    {
      path: "",
      image: "necklace-big-card-desk",
      format: "jpg",
      width: "470",
      height: "435",
      alt: "Gold necklace",
    }
  ]

-
  var moreProducts = [
    {
      path: "",
      image: "purple-gemstone-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Necklace with amethyst",
      title: "Necklace with amethyst",
      price: "$ 145",
    },
    {
      path: "",
      image: "layered-choker-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Layered сhoker",
      title: "Layered сhoker",
      price: "$ 115",
    },
    {
      path: "",
      image: "dainty-gold-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Gold chain",
      title: "Gold chain",
      price: "$ 215",
    },
    {
      path: "",
      image: "galaxy-earrings-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Galaxy earrings",
      title: "Galaxy earrings",
      price: "$ 95",
    },
    {
      path: "",
      image: "double-pearl-earrings-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Double pearl earrings",
      title: "Double pearl earrings",
      price: "$ 115",
    },
    {
      path: "",
      image: "black-choker-gold-bead-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Choker with gold bead",
      title: "Choker with gold bead",
      price: "$ 55",
    },
    {
      path: "",
      image: "gold-layered-necklace-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Gold layered necklace",
      title: "Gold layered necklace",
      price: "$ 155",
    },
    {
      path: "",
      image: "blue-gemstone-pendant-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Blue gemstone pendant",
      title: "Blue gemstone pendant",
      price: "$ 105",
    },
    {
      path: "",
      image: "boho-earrings-desk",
      format: "jpg",
      width: "270",
      height: "285",
      alt: "Boho earrings",
      title: "Boho earrings",
      price: "$ 75",
    },
    {
      path: "",
      image: "bird-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Gold bird necklace",
      title: "Gold bird necklace",
      price: "$ 135",
    },
    {
      path: "",
      image: "black-leather-choker-necklace-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Black leather choker",
      title: "Black leather choker",
      price: "$ 85",
    },
    {
      path: "",
      image: "elephant-earrings-desk",
      format: "jpg",
      width: "270",
      height: "272",
      alt: "Elephant earrings",
      title: "Elephant earrings",
      price: "$ 95",
    },
  ]
